pool:
  vmImage: 'ubuntu-16.04'
steps:
  - script: |
      curl -sSf https://sh.rustup.rs | sh -s -- -y
      echo "##vso[task.setvariable variable=PATH;]$PATH:$HOME/.cargo/bin"
    displayName: 'Install stable Rust'

  - script: |
      curl -LO https://julialang-s3.julialang.org/bin/linux/x64/1.1/julia-1.1.1-linux-x86_64.tar.gz
      tar xf julia-1.1.1-linux-x86_64.tar.gz
      rm julia-1.1.1-linux-x86_64.tar.gz
      sudo mv julia-1.1.1 /usr/local/julia
    displayName: 'Download Julia v1.1.1'

  - script: cargo test
    displayName: 'Rust Test'
